.container{
    border: 3px solid blue;
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template: 20% 30% 40% / 20% 30% 40%;
    /* rows then columns */
    grid-gap: 10px;
    box-sizing: border-box;
    /* grid-template-areas: "A B C"
                         "D E F"
                         "G H I" */
    /* justify-items: stretch/start/end/center; To make changes in columns
    align-items: stretch/start/end/center; To make changes in rows
    place-items:start end align justify*/
}
.box{
    background-color: red;
    border: 1px solid blue;
    margin: 10px;
    box-sizing: border-box;
}
.box7{
    order: -1;
}
.box1{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    /* grid-area: A; */
    /* grid-column: 1/span2; */
    /* grid-area: row-start/column-start/row-end/column-end; */
}